// Place all the styles related to the winerequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tan: #EED5B7;

html {
  background: $tan url('/assets/winebottle.png') no-repeat bottom right fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.querybar {
  border: 1px solid black;
  position: relative;
  width: auto;
}

.textbox {
  width: 50px;
}


