<html>
<body>

  <h1>Welcome to Pinky-In! Here be plebs!</h1>

  <%= form_tag("/search", :method => "post") do %>
    I have $
    <%= text_field_tag(:budget) %>
    to accomodate 
    <%= text_field_tag(:numPeople) %>
    people.
    <%= submit_tag("Find me wines!") %>
  <% end %>
</body>
</html>
