<html>
<body>
  <div class="querybar">
    <h1>I would like to buy some wine.</h1>
    <br/>

    <%= form_tag("/search", :method => "post") do %>
      I have $
      <%= text_field_tag(:budget, nil, :class => 'textbox') %>
      to accommodate 
      <%= text_field_tag(:numPeople, nil, :class=> 'textbox') %>
      people.
      <%= submit_tag("Find me wines!") %>
    <% end %>
  </div>
</body>
</html>
