<%= flash_helper %>

<div class="querybar">
  <h1>Oh noes! :(</h1>
  <p>
  Unfortunately, it looks like we cannot find a wine list matching your needs.
  Try increasing your budget or decreasing the number of guests that you
  would like to invite.

  <br/>
  <br/>
  <a href="/">Try again</a>
  </p>

</div>
