<%= flash_helper %>

<div class="querybar">
  <h1>And... here you go!</h1>
  Here is a wines list based off of your requirements. In our calculations, we assume that each person will drink <strong><%= @glassPerPerson %></strong> five-ounce glasses of wine.
  <br/><br/>

  <strong>Wine List:</strong>
  <ol>
    <% @json["Products"]["List"].each do |x| %>
      <%= print_wine_json(x) %>
    <%end%>
  </ol>
  <% @result %>
</div>
